* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./QFNv.gif");
}
h1 {
  text-align: center;
}
.blackpink1 {
  padding: 0.5rem;
  width: fit-content;
  margin: 3rem auto;
  border: 0.5px solid white;
  border-radius: 10px;
  animation: lightson 0.5s ease 3 forwards;
  color: white;
  font-size: 2rem;
}

@keyframes lightson {
  0% {
    opacity: 0;
    box-shadow: 0px 0px 0px 0px cyan, 0px 0px 0px 0px cyan, 0px 0px 0px 0px cyan,
      inset 0px 0px 0px cyan;
  }

  20% {
    opacity: 0.5;
    box-shadow: 0px 0px 5px 0px cyan, 0px 0px 5px 0px cyan,
      0px 0px 10px 0px cyan, inset 0px 0px 5px cyan;
  }

  40% {
    opacity: 0;
    box-shadow: 0px 0px 2px 0px cyan, 0px 0px 5px 0px cyan,
      0px 0px 25px 0px cyan, inset 0px 0px 10px cyan;
  }

  50% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px cyan, 0px 0px 20px 0px cyan,
      0px 0px 100px 0px cyan, inset 0px 0px 30px cyan;
  }

  100% {
    opacity: 1;
    box-shadow: 0px 0px 5px 0px cyan, 0px 0px 10px 0px cyan,
      0px 0px 20px 0px cyan, inset 0px 0px 10px cyan;
  }
}
main {
  margin-top: 6rem;
  height: max-content;
}
.past-container {
  width: 100vw;
  height: max-content;
}
.all-container {
  max-width: 1200px;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  row-gap: 4rem;
}
.pasteventdesign {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 1rem auto;
}
.pasteventdesign > .content1,
.content2,
.content3 {
  flex: 1;
  color: #fff;
  padding: 1rem;
}
.pasteventdesign2,
.pasteventdesign3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 1rem auto;
}
.pasteventdesign2 > .content1,
.content2,
.content3 {
  flex: 1;
  color: #fff;
  padding: 1rem;
}
.pasteventdesign3 > .content1,
.content2,
.content3 {
  flex: 1;
  color: #fff;
  padding: 1rem;
}
.content1 > img,
.content2 > img,
.content3 > img {
  width: 96%;
  border-radius: 10px;
  border-top: 4px solid #fa9200;
  margin: 0 auto;
}
.content1 > h3,
.content2 > h3,
.content3 > h3 {
  margin: 0.5rem;
}
.content1 > .description,
.content2 > .description,
.content3 > .description {
  text-align: justify;
  margin: 1rem;
}
.pasteventdesign > .content1:hover,
.pasteventdesign > .content2:hover,
.pasteventdesign > .content3:hover {
  z-index: 2;
  border-bottom: 4px solid orange;
  transition: all 0.1s ease-in-out;
}
.pasteventdesign2 > .content1:hover,
.pasteventdesign2 > .content2:hover,
.pasteventdesign2 > .content3:hover {
  z-index: 2;
  border-bottom: 4px solid orange;
  transition: all 0.1s ease-in-out;
}
.pasteventdesign3 > .content1:hover,
.pasteventdesign3 > .content2:hover,
.pasteventdesign3 > .content3:hover {
  z-index: 2;
  border-bottom: 4px solid orange;
}
.pasteventdesign > .content1 > img:hover {
  z-index: 4;
}
.pasteventdesign > .content2 > img:hover,
.pasteventdesign > .content3 > img:hover {
  z-index: 1000;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .all-container {
    width: 100vw;
  }
  .pasteventdesign,
  .pasteventdesign2,
  .pasteventdesign3 {
    flex-direction: column;
    width: 95%;
    margin: 0.3rem;
  }
  .pasteventdesign > .content1,
  .content2,
  .content3 {
    padding: 1rem;
    margin: 0 auto;
  }
}
