:root {
  --primary-color: #212121;
  --background-color: #111;
  --font: sans-serif;
}
@media only screen and (max-width: 600px) {
  .container-img {
    width: 90vw;
    margin: 0rem;
  }
}
body {
  background: url("./QFNv.gif");
}
* {
  font-family: sans-serif;
}

.banner-container {
  margin-top: 5.5rem;
  height: 60vh;
  background-image: url("./assets/imgs/4.png");
  width: 100vw;
  background-size: cover;
}
.banner-container > img {
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  body {
    position: relative;
  }
  .banner-container {
    overflow-x: hidden;
    margin-top: 3.5rem;
    height: 20vh;
    width: 100vw;
    background-repeat: no-repeat;
  }
  .banner-container > img {
    height: 100%;
    width: 100vw;
    background-clip: content-box;
    object-fit: fill;
  }
  .flex-container {
    margin-top: 2rem !important;
  }
}

/*css for timeline*/
.maintimelinediv {
  margin-top: 1rem;
  font-family: var(--font);
  display: flex;
  justify-content: center;
}
.timeline1 {
  /* background: url("./QFNv.gif"); */
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card1 {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card1:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card1:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card1::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid orangered;
}

/* Setting the border of top, bottom, left */
.card1:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card1:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card1:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card1:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card1:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info1 {
  display: flex;
  flex-direction: column;
  background: #333;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title1 {
  color: orangered;
  position: relative;
}

/* Timeline dot  */
.title1::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid orangered;
}

/* text right if the card is even  */
.card1:nth-child(even) > .info1 > .title1 {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card1:nth-child(odd) > .info1 > .title1::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card1:nth-child(even) > .info1 > .title1::before {
  right: -45px;
}

/*css for timeline*/

.flex-container {
  margin-top: 4rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: left;
}

.flex-box {
  box-sizing: border-box;

  width: 33rem;
  height: 20rem;
  background: #2b2b2b;
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 80px;
  margin: 30px;
}
.flex-box > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.flex-box1 {
  margin-top: 0rem;
  width: 630px;
  display: flex;
  /* height: 122px; */
  background: opaque;
  color: whitesmoke;
  font-size: 20px;
  text-align: left;
  border-radius: 80px;
  align-items: center;
  text-align: justify;
}

.flex-box2 {
  margin-top: 5rem;
  background: opaque;
  color: whitesmoke;
  font-size: 21px;
  text-align: center;
}

.maincontent {
  padding: 0.5rem;
}

/* #####################gallery css ##############  */
.gallery-container {
  margin: 1rem auto;
  display: flex;
  width: 90vw;
}
.container-img {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 30px;
  position: relative;
}
.container-img > img {
  width: 26rem;
  height: 20rem;
  border-radius: 20px;
  margin: 0 auto;
}
@media (max-width: 786px) {
  .gallery-container {
    width: 100vw;
    padding: 0;
  }
  .container-img {
    width: 100%;
    padding: 0;
  }
  .container-img > img {
    width: 100%;
  }
}

/* ############################footer########################  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
footer {
  position: absolute;

  font-family: sans-serif;
  width: 100vw;
  background-color: #04081654;
  height: max-content;
  border-bottom: 2px dotted #a5f0d3;
}
.footer-container {
  width: 80%;
  height: 80%;
  margin: 1rem auto;
  padding: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.footer-container > h1 {
  display: flex;
  flex-direction: row;
  gap: 2.6rem;
  font-size: 2.5rem;
}
.icon-colour {
  color: #a5f0d3;
}
.map-container {
  height: max-content;
}
.map-container > .address {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  row-gap: 2rem;
}
.map-container > .map {
  width: 50%;
}
.map-container {
  display: flex;
  margin: 1rem auto;
  width: 100%;
  justify-content: space-between;
}

.map > iframe {
  border-radius: 20px;
  width: 100%;
}
.address > h3 {
  font-weight: bold;
  font-size: 2rem;
}
.address > .add {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  width: 60%;
  font-size: 1rem;
}
.Email {
  width: 90%;
}
.Email > i {
  margin-right: 1rem;

  font-size: 1.2rem;
}
.Email > span {
  color: #a5f0d3;
  font-size: 1.2rem;
}
.Email {
  font-size: 1.2rem;
}
.callraj {
  width: 90%;
}
.callraj > i {
  margin-right: 1rem;

  font-size: 1.2rem;
}
.callraj > span {
  color: #a5f0d3;
  font-size: 1.2rem;
}
.callraj {
  font-size: 1.2rem;
}
.callpragya {
  width: 100%;
}
.callpragya > i {
  margin-right: 1rem;

  font-size: 1.2rem;
}
.callpragya > span {
  color: #a5f0d3;
  font-size: 1.2rem;
}
.callpragya {
  font-size: 1.2rem;
}
.social-contain {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  padding: 1rem;
  height: min-content;
}
.both-container {
  display: flex;
  width: 40vw;
  margin: 0 auto;
  justify-content: space-between;
  cursor: pointer;
}
.lets-connect {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: min-content;
}
.lets-connect > h4 {
  margin: 1rem;
}
.lets-connect > h4:hover {
  color: aqua;
}

h6 {
  color: #fff;
  font-size: 1rem;
}
.github {
  margin: 1rem;
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.5rem;
  font-weight: lighter;
  align-items: center;
  gap: 20px;
  height: min-content;
}
.github > i {
  height: max-content;
}
.github > h6 {
  color: #fff;
}
.github > h6:hover {
  color: aqua;
}
.linkedin {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.5rem;
  font-weight: lighter;
  align-items: center;
  gap: 20px;
  height: min-content;
}
.linkedin > i {
  height: max-content;
}
.linkedin > h6 {
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 0 !important;
}
.linkedin > h6:hover,
.Instagram > h6:hover,
.Facebook > h6:hover {
  color: aqua;
}
.media {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: min-content;
}
h6 {
  color: #fff;
  font-size: 1rem;
}
.Instagram {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.5rem;
  font-weight: lighter;
  align-items: center;
  gap: 10px;
  height: min-content;
}
.Instagram > i {
  height: max-content;
}
.Instagram > h6 {
  color: #fff;
}
.Facebook {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.5rem;
  font-weight: lighter;
  align-items: center;
  gap: 20px;
  height: min-content;
}
.Facebook > i {
  height: max-content;
}
.Facebook > h6 {
  color: #fff;
}
@media (max-width: 786px) {
  footer {
    overflow-x: hidden;
  }
  .footer-container {
    width: 100vw;
    padding: 0.5rem;
  }
  .footer-container > h1 {
    font-size: 2rem;
    width: fit-content;
  }
  .address {
    padding: 0;
  }
  .address > h3 {
    font-size: 1.3rem;
  }
  .map-container {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  .Email,
  .callpragya,
  .callraj {
    font-size: 1rem;
  }
  .Email > span,
  .callpragya > span,
  .callraj > span {
    font-size: 1rem;
  }
  .map-container > .address {
    width: 100%;
  }
  .address > .add {
    font-size: 1rem;
    width: 90%;
  }
  .map-container > .map {
    width: 100%;
  }
  .social-contain {
    width: 100vw;
  }
  .both-container {
    width: 90%;
  }
}
