body {
  position: relative;
  height: max-content;
  background-image: url("./QFNv.gif");
}
.core-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0.5rem auto;
}
.title {
  color: #fff;
  background-color: aqua;
  padding: 1rem;
  border-radius: 20px;
  width: max-content;
  margin: 1rem auto;
  text-align: center;
}

/* ################about us####################  */
.aboutus-container {
  max-width: 1450px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  margin-top: 5rem;
}
.aboutus-container > h1 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  padding: 1rem;
}
.img1-container,
.img2-container {
  width: 90%;
  height: 80%;
  margin: 1rem auto;
}
.aboutus-container > .img1-container,
.img2-container {
  display: flex;
  flex-wrap: wrap;
}
.img1-container > img {
  order: 2;
  padding: 1rem;

  width: 40%;
  height: 50%;
  border-radius: 20px;
}
.img1-container > .text {
  order: 1;
  color: #fff;
  font-weight: 500;
  flex: 1;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: justify;
}
.img2-container > img {
  padding: 1rem;
  width: 50%;
  border-radius: 20px;
}
.img2-container > .text {
  color: #fff;
  font-weight: 500;
  flex: 1;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  align-items: center;
  text-align: justify;
}

@media (max-width: 768px) {
  .img1-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
  }
  .img2-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
  }
  .img1-container > img {
    width: 100%;
    height: 49vh;
    order: 1;
  }
  .img1-container > .text {
    display: flex;
    text-align: justify;
    padding: 0.3rem 1rem;
  }
  .img2-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .img2-container > img,
  .img1-container > img {
    width: 100%;
    height: 49vh;
    border-radius: 40px;
  }
  .img2-container > .text {
    display: flex;
    text-align: justify;
    padding: 0.3rem 1rem;
  }
}

/* #######################faculty########################## */
*/ .sliderbody {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efefef24;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  padding: 3rem;
}
.slide-container {
  max-width: 1450px;
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.slide-content {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  width: 90%;
}
.card {
  padding: 0.5rem;
  width: 80%;
  height: 50vh;
}
.card {
  border-radius: 25px;
  background-color: #fff;
  margin: 1rem;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #e4eaf9;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #e4eaf9;

}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.name {
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 999;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media (max-width: 768px) {
  .card-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .card {
    padding: 0.5rem;
    width: 95%;
    height: 50vh;
  }
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .card-wrapper {
    padding: 0;
  }
}

/* #############################card container@###################  */
#team {
  padding: 60px 0;
  text-align: center;
  background-color: #d1d1d100;
  color: orange;
}
#team h2 {
  position: relative;
  padding: 0px 0px 15px;
}
#team p {
  font-size: 15px;
  font-style: italic;
  padding: 0px;
  margin: 25px 0px 40px;
}
#team h2::after {
  content: "";
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 90px;
  margin: 0 auto;
  display: block;
}
#team .member {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px 0px 15px 0px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
#team .member .member-info {
  display: block;
  position: absolute;
  bottom: 0px;
  left: -200px;
  transition: 0.4s;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.4);
}
#team .member:hover .member-info {
  left: 0px;
  right: 0px;
}
#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
#team .member .social-links {
  margin-top: 15px;
}
#team .member .social-links a {
  transition: none;
  color: #fff;
}
#team .member .social-links a:hover {
  color: #ffc107;
}
#team .member .social-links i {
  font-size: 18px;
  margin: 0 2px;
}
  