* {
    font-family: sans-serif;
  }
  
  .maincontainer {
    margin-top: 8rem;
  }
  
  .mainheading {
    text-align: center;
    color: white;
    font-family: cursive;
    margin-bottom: 4rem;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff6600, 0 0 0.5em #ff6600,
      0 0 0.1em #ff6600, 0 10px 3px #000;
  }
  .tech3-container {
    display: flex;
    justify-content: center !important;
  }
  @media (max-width: 768px) {
    .maincontainer {
      margin-top: 5rem;
    }
    .mainheading {
      margin-bottom: 1rem;
    }
  }
  