* {
  font-family: sans-serif;
}

.intro {
  color: white;
}
.mainheading {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff6600, 0 0 0.5em #ff6600,
    0 0 0.1em #ff6600, 0 10px 3px #000;
}

.type {
  display: inline-block;
  color: white;
  vertical-align: bottom;
  font-size: 2rem;
  text-transform: uppercase;
}

.type > span {
  display: grid;
  overflow: hidden;
  height: 1.2em;
}

.type span span {
  width: 0%;
  max-width: max-content;
  overflow: hidden;
  height: inherit;
  word-break: break-all;
  animation: c 0.5s infinite steps(1), t 6s linear infinite alternate,
    m 16s steps(1) infinite;
}
.type span span:before {
  content: " ";
  display: inline-block;
}

@keyframes t {
  90%,
  100% {
    width: 100%;
  }
}

@keyframes c {
  0%,
  100% {
    box-shadow: 5px 0 0 #0000;
  }
  50% {
    box-shadow: 5px 0 0 white;
  }
}

@keyframes m {
  100% {
    transform: translateY(-400%);
  }
}

body {
  font-size: 40px;
  margin: 100px auto;
  margin-left: 50px;
  color: white;
  background: #191d21;
  font-family: sans-serif;
}
