* {
  font-family: sans-serif;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-4 {
  position: relative;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}
/* The actual timeline (the vertical ruler) */
.main-timeline-4::after {
  content: "";
  position: absolute;
  width: 3px;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-4 {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-4::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #bbb;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left-4 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right-4 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-4::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid rgba(37, 117, 252, 1);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(37, 117, 252, 1);
}

/* Add arrows to the right container (pointing left) */
.right-4::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid rgba(245, 87, 108, 1);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(245, 87, 108, 1) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-4::after {
  left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline-4::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-4 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-4::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-4::after,
  .right-4::after {
    left: 18px;
  }

  .left-4::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right-4 {
    left: 0%;
  }
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
  box-shadow: -5px 5px 5px 0px rgba(255, 255, 255, 0.7);
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to left,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to left,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );
  box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.7);
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #ffbb8d, 0 0 10px #ff9954, 0 0 21px #ff771c;
}

.logo {
  text-align: center;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.logo b {
  font: 400 "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff6600, 0 0 0.5em #ff6600,
    0 0 0.1em #ff6600, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.wrapper {
  padding: 4rem 8rem 8rem 8rem;
  grid-gap: 0.2rem;
  color: white;
}

.blackpink {
  padding: 2rem 1rem 0rem 1rem;
  border: 10px solid white;
  text-align: center;
  opacity: 10px;
  border-radius: 50px;
  animation: lightson 0.5s ease 3 forwards;
  background-repeat: no-repeat;
  background-size: cover;
}

.blackpink1 {
  padding: 0.5rem;
  width: fit-content;
  margin: 3rem auto;
  border: 0.5px solid white;
  border-radius: 10px;
  animation: lightson 0.5s ease 3 forwards;
  color: white;
  font-size: 2rem;
}

@keyframes lightson {
  0% {
    opacity: 0;
    box-shadow: 0px 0px 0px 0px cyan, 0px 0px 0px 0px cyan, 0px 0px 0px 0px cyan,
      inset 0px 0px 0px cyan;
  }

  20% {
    opacity: 0.5;
    box-shadow: 0px 0px 5px 0px cyan, 0px 0px 5px 0px cyan,
      0px 0px 10px 0px cyan, inset 0px 0px 5px cyan;
  }

  40% {
    opacity: 0;
    box-shadow: 0px 0px 2px 0px cyan, 0px 0px 5px 0px cyan,
      0px 0px 25px 0px cyan, inset 0px 0px 10px cyan;
  }

  50% {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px cyan, 0px 0px 20px 0px cyan,
      0px 0px 100px 0px cyan, inset 0px 0px 30px cyan;
  }

  100% {
    opacity: 1;
    box-shadow: 0px 0px 5px 0px cyan, 0px 0px 10px 0px cyan,
      0px 0px 20px 0px cyan, inset 0px 0px 10px cyan;
  }
}

.blackpink span {
  transform: scaleX(-5);
  display: border-box;
}
.blackpink__tagline {
  text-align: right;
  font-size: 0.8rem;
}

@media (max-width: 1150px) {
  .blackpink {
    padding: 1rem 0;
  }
}

@media (max-width: 789px) {
  .wrapper {
    width: 100%;
    padding: 1rem;
  }
  .blackpink {
  }
}

#text {
  display: none;
}

#toggle {
  cursor: pointer;
  font-size: 20px;
  font-family: cursive;
  color: rgba(255, 255, 255, 0.8);
}
#toggle:hover {
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em cyan, 0 0 0.5em cyan,
    0 0 0.1em cyan, 0 10px 3px #000;
}

:root {
  --clear-neutral-900: hsl(207, 19%, 9%);
  --clear-neutral-100: hsl(0, 0%, 100%);
  --clear-neutral-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body
{
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    font-family: monospace;
    font-size: medium;
} */

.card {
  color: var(--clr-neutral-100);
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500s ease;
  margin: 1rem;
  background-size: cover;

  background-repeat: no-repeat;
}

.card:hover,
.card:focus-within {
  transform: scale(1.1);
}

.card-content {
  --padding: 3rem;
  background: hsl(0 0% 0% /0.5);
  padding: var(--padding);
  transform: translateY(70%);
  text-align: justify;
  transition: transform 500ms ease;
  transition-delay: 200ms;
  background: linear-gradient(
    hsl(0 0% 0% /0),
    hsl(20 0% 0% /0.8) 20%,
    hsl(0 0% 0% /1)
  );
  background-size: cover;
}

@media (hover) {
  .card-content {
    transform: translateY(90%);
    transition: transform 500ms ease;
    height: 100%;
  }
}
.card:hover .card-content {
  transform: translateY(5%);
  transition-delay: 10ms;
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.card:hover .card-content > * {
  opacity: 1;
}
.card-title::after {
  position: absolute;
  height: 9px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-400);
  bottom: 10px;
  left: calc(var(--padding) * -1);
  transform: scaleX(0);
  transition: transform 500ms ease;
  transform: left;
  bottom: -2px;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}
.card-title {
  position: relative;
  color: white;
  width: 16rem;
}

.button {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: wheat;
  padding: 0.5rem 1.25em;
  border-radius: 0.25em;
}

.button:hover,
.botton:focus {
  background: var(--clear-neutral-100);
}

.card-body {
  color: white;
  width: 16rem;
}

.flex-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  margin: 0rem;
}

.spacingforcards {
  /* column-gap: 105px;
    row-gap: 100px;
    padding:3px;
    box-sizing: border-box;
    margin: cover;
    size-adjust: 100%; */
}
.start {
  height: 350px;
  width: 1000px;
  padding: 20px;
  margin: 50px;
  background: url(https://i.gifer.com/ZS3t.gif);
  margin-bottom: 100px;
  align-items: center;
  margin-left: 500px;
  background-repeat: no-repeat;
  margin-top: -100px;
}
